<!DOCTYPE html>
<html>
<head>
  <title>Aasm enhancing</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "aasm_enhancing/application", media: "all" %>
  <%= javascript_include_tag "aasm_enhancing/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
